.perfect_course_wrapper {
    padding: 50px 0 70px 0;
}

.perfect_course_content_wrapper p {
    color: rgba(107, 107, 107, 1);
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}

.perfect_course_head_Wrapper {
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.perfect_course_slider_wrapper {
    margin-top: 40px;
}
.perfect_course_slider_wrapper .slick-dots{
    bottom: -45px !important;
}
.perfect_course_slider_wrapper .slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 10px;
    border-radius: 10px;
    content: '';
    background-color: rgba(58, 53, 103, 1);
    text-align: center;
    opacity: 0.5 !important;
    color: rgba(107, 107, 107, 0.63) !important;
    -webkit-font-smoothing: antialiased;
}

.perfect_course_slider_wrapper .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: rgba(58, 53, 103, 1) !important;
}
.perfect_course_slider {
    width: 95% !important;
    min-width: 95%;
    padding: 0px 15px 20px 15px;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(255, 228, 244, 1), rgba(195, 207, 255, 1));
    display: flex !important;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.perfect_course_slider img {
    width: 100px;
}

.perfect_course_slider h3 {
    font-weight: 500;
    color: rgba(58, 53, 103, 1);
    font-size: 27px;
}

.perfect_course_slider p {
    font-size: 14px;
    color: #000;
    line-height: 18px;
}

.slider2 {
    background: linear-gradient(to bottom, rgba(228, 238, 255, 1), rgba(204, 255, 195, 1));
}
.slider3{
    background: linear-gradient(to bottom,rgba(255, 232, 227, 1), rgba(254, 222, 255, 1));
 
}