* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tomorrow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

li {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.container {
  width: 1295px;
  min-width: 1295px;
  margin-inline: auto;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  color: rgba(58, 53, 103, 1);
  text-align: center;
  text-transform: capitalize;
}
@media(max-width:1499px){
  .container{
    width: 85%;
    min-width: 85%;
  }
}
@media(max-width:576px){
  .heading{
    font-size: 35px;
  }
}
@media(max-width:480px){
  .heading{
    font-size: 35px;
  }
}